@model BlogArticleDetailsServiceModel
@{
    ViewBag.Title = Model.Title;
}

<h1 class="display-4 text-center">@ViewBag.Title</h1>

<h4><em>published by @Model.Author on @Model.PublishDate.ToShortDateString()</em></h4>

<div>
    @Html.Raw(Model.Content)
</div>
