<!-- Loading icon for long running background tasks indication -->
<div id="background-task-notification" class="long-tasks-indicator text-white rounded-left" display="hidden">
    <div class="">
        You have a task running in the background.
        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
    </div>
</div>
