@{
    ViewBag.Title = "About me";
}

@section Styles{

    <style>
        .pop {
            display: block;
            width: 25%;
            height: auto;
        }
        
        .pop:hover,
        .pop:active {
            cursor: zoom-in;
        }
    </style>
}

<h1 class="display-4 text-center">@ViewBag.Title</h1>

<div class="row">
    @*<div class="col-12 col-lg-3">
        <div class="row">
            <img class="img-thumbnail img-responsive rounded-circle" src="http://i.imgur.com/b6hewAe.jpg" />
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-center mt-5 mb-2">
                <a href="https://github.com/peter-stoyanov" class="btn btn-primary w-75">My GitHub Account</a>
            </div>
            <div class="col-12 d-flex justify-content-center my-2">
                <a href="https://www.linkedin.com/in/peshostoyanov/" class="btn btn-primary w-75">My LinkedIn Profile</a>
            </div>
            <div class="col-12 d-flex justify-content-center my-2">
                <a href="mailto:pesho.stoyanov@gmail.com" class="btn btn-primary w-75">Send me an email</a>
            </div>
        </div>
    </div>*@
    <div class="col-12 col-lg-9 mb-5">
        <p>
            My name is Petar Stoyanov and I work as a Junior .Net Web Developer.
        </p>
        <p>
            I am currently enrolled in the C# Web Developer program at SoftUni.bg as an online student.<br>
            I have taken the following courses:
        </p>

        <div id="accordion" role="tablist">

            <card-accordion title="Programming Basics" body="IDE's. Basic programming structures - variables, conditions, loops."></card-accordion>
            <card-accordion title="Programming Fundamentals" image-class="pop" image="/Resources/Certifications/programming fundamentals - may 2016 - certificate.jpeg"></card-accordion>
            <card-accordion title="Software Technologies" image-class="pop" image="/Resources/Certifications/software technologies - june 2016 - certificate.jpeg"></card-accordion>
            <card-accordion title="Js Fundamentals" image-class="pop" image="/Resources/Certifications/js fundamentals - september 2016 - certificate.jpeg"></card-accordion>
            <card-accordion title="Js Advanced" image-class="pop" image="/Resources/Certifications/js advanced - october 2016 - certificate.jpeg"></card-accordion>
            <card-accordion title="Js Applications" image-class="pop" image="/Resources/Certifications/js applications - november 2016 - certificate.jpeg"></card-accordion>
            <card-accordion title="Databases Basics - MS SQL server" body=""></card-accordion>
            <card-accordion title="Databases Advanced" image-class="pop" image="/Resources/Certifications/databases advanced - entity framework - february 2017 - certificate.jpeg"></card-accordion>
            <card-accordion title="QA Fundamentals" body=""></card-accordion>
            <card-accordion title="Microsoft Software Development Fundamentals" image-class="pop" image="/Resources/Certifications/microsoft software development fundamentals - january 2017 - certificate.jpeg"></card-accordion>
            <card-accordion title="C# Advanced" image-class="pop" image="/Resources/Certifications/csharp advanced - may 2017 - certificate.jpeg"></card-accordion>
            <card-accordion title="Data structures" body=""></card-accordion>
            <card-accordion title="C# OOP Basics" image-class="pop" image="/Resources/Certifications/OOPBasicsCertificate.jpeg"></card-accordion>
            <card-accordion title="C# OOP Advanced" image-class="pop" image="/Resources/Certifications/csharp oop advanced - july 2017 - certificate.jpeg"></card-accordion>
            <card-accordion title="Algorithms" body=""></card-accordion>
            <card-accordion title="C# Web Basics - .Net Core, Entity Framework Core" body="IDE's. Basic programming structures - variables, conditions, loops."></card-accordion>
            <card-accordion title="C# MVC Frameworks - ASP.NET Core" body=""></card-accordion>

        </div>
    </div>
</div>

<!--Modal-->
<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> </button>
                <img src="" class="imagepreview" style="width: 100%;">
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {

            $('.pop').on('click', function () {
                $('.imagepreview').attr('src', $(this).attr('src'));
                $('#imagemodal').modal('show');
            });

            $("#imagemodal").on('hidden.bs.modal', function () {
                $(this).find('img').attr('src', '');
            });
        });
    </script>
}
