@model TranslationsUploadViewModel

@{
    ViewBag.Title = "Upload words with excel";
}

@await Component.InvokeAsync(nameof(BootstrapAlertComponent), TempData.Get<BootstrapAlertViewModel>(WebConstants.AlertKey))

<h1 class="display-4 text-center my-5">@ViewBag.Title</h1>

<div class="row mb-2">
    <div class="col pl-0">
        <ul class="list-group">
            <li class="list-group-item">Save the file with .xslx extension</li>
            <li class="list-group-item">
                Use 2 columns providing the following information:
                <ol>
                    <li>Word in the source language(up to 300 characters)</li>
                    <li>Word in the target language(up to 300 characters)</li>
                </ol>
            </li>
            <li class="list-group-item">Upload it</li>
        </ul>
    </div>
</div>

<div class="row mb-5">
    <form method="post"
          asp-area="Admin"
          asp-action="Translations"
          asp-controller="Upload"
          enctype="multipart/form-data"
          class="form">

        <div class="form-group">
            <label asp-for="FromLanguageId" class="control-label">Source Language</label>
            <select asp-for="FromLanguageId" class="form-control" asp-items="Model.Languages.Select(l => new SelectListItem { Text = l.Name, Value = l.Id.ToString() })"></select>
            <span asp-validation-for="FromLanguageId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ToLanguageId" class="control-label">Target Language</label>
            <select asp-for="ToLanguageId" class="form-control" asp-items="Model.Languages.Select(l => new SelectListItem { Text = l.Name, Value = l.Id.ToString() })"></select>
            <span asp-validation-for="ToLanguageId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="File">***.xlsx</label>
            <input type="file" name="file" class="form-control-file" id="fileUpload">
            <span asp-validation-for="File" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input id="submitBtn" class="btn btn-info" type="submit" value="Upload" />
        </div>
    </form>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {

            $('#submitBtn').on('click', function () {
                var fileExtension = ['xlsx'];
                var filename = $('#fileUpload').val();

                if (filename.length == 0) {
                    alert("Please select a file.");
                    return false;
                }
                else {
                    var extension = filename.replace(/^.*\./, '');
                    if ($.inArray(extension, fileExtension) == -1) {
                        alert("Please select only excel files.");
                        return false;
                    }
                }
            })
        });
    </script>

}
